html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

.home-page {
  position: absolute;
  display: block;
  width: 99%;
  height: 90%;
  padding-bottom: 5%;
}

.footer {
  height: 6%;
  text-align: left;
  padding-left: 30px;
}

.footer span {
  position: relative;
  top: 30%;
  left: 0;
}

.header {
  height: 10%;
}

div {
  border: 1px solid navy;
  margin: 1px;
  padding: 2px;
  text-align: center;
}

.container {
  height: 91%
}

.content-box {
  height: 49%;
}

/* Clear floats after the columns */
.content-box:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  float: left;
  width: 48.8%;
  padding: 5px;
  height: -webkit-fill-available;
}


.gutter {
  background-color: #130dee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  width: 10px;
  margin: -10px 0 0 0;
  height: 106%;
  float: left;
  border: none;
}

.gutter.gutter-vertical {
  cursor: row-resize;
  display: block;
  border: none;

}

.split {
  height: 99%;
}
/*1. alan*/
.filter-list{

}

.option-container {
  position: relative;
  display: inline-block;
}
.option-icon {

}

.option-box {
  display: none;
  z-index: 1;
}

.option-container:hover .option-box {
  display: block;
}

/*1. alan son*/


/*2. alan */
.show-location{

}
.positions-container {
  text-align: left;
  padding: 30px;
  background: antiquewhite;
  border: 5px solid navy;
  height: 200px;
  margin: 15px -40px -1px 35px;
}
/*2. alan son*/


/*3. alan*/
.basic-form{

}
/*3. alan son*/


/* 4. alan */
.empty-box {
  text-align: left;
  padding:0;
}
.empty-box p{
  margin:0;
}

/* 4. alan son */