html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
}

.home-page {
    position: absolute;
    display: block;
    height: 90%;
    padding-bottom: 5%;
    width: 100%;

}

.footer {
    height: 6%;
    text-align: left;
    padding-left: 30px;
    background: #e4e4e4;
    margin-top: -2%;
}

.footer span {
    position: relative;
    top: 30%;
    left: 0;
}

.header {
    height: 10%;
    position: relative;
    background: linear-gradient(to right, #0b032d, #130dee);;

}

.header h1 {
    font-size: 4rem;
    font-weight: bold;
    float: left;
    margin: 0 0 0 30px;
    line-height: inherit;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: azure;
}

.header .short-name {
    color: azure;
    border: 2px solid azure;
    font-weight: bolder;
    border-radius: 100%;
    display: inline-block;
    padding: 8px;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 40px;
    position: absolute;
    right: 22rem;
}

.header .header-name {
    display: inline-block;
    color: azure;
    font-weight: bolder;
    right: 0;
    position: absolute;
    margin: 0 20px 0 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 40px;
}

.header .medium-icon {
    color: azure;
    padding: 8px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 29rem;
}

div {
    text-align: center;
}

.container {
    height: 100%;
}

.content-box {
    height: 49%;
}

/* Clear floats after the columns */
.content-box:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    float: left;
    width: 48.8%;
    padding: 5px;
    height: -webkit-fill-available;
}


.gutter {
    background-color: #cfd7cc;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    width: 7px !important;
    margin: -10px 0 0 0;
    height: 103%;
    float: left;
    border: none;
}

.gutter.gutter-vertical {
    cursor: row-resize;
    display: block;
    border: none;
    height: 7px !important;

}

.split {
    height: 99%;
}

/*1. alan*/
.filter-list {

}

.option-container {
    position: relative;
    display: inline-block;
}

.option-icon {

}

.option-box {
    display: none;
    z-index: 1;
}

.option-container:hover .option-box {
    display: block;
}

/*1. alan son*/


/*2. alan */
.show-location {

}

.positions-container {
    text-align: left;
    padding: 30px;
    background: antiquewhite;
    border: 5px solid navy;
    height: 200px;
    margin: 15px -40px -1px 35px;
}
/*2. alan son*/


/*3. alan*/
.basic-form {

}

/*3. alan son*/


/* 4. alan */
.empty-box {
    text-align: left;
    padding: 0;
}

.empty-box p {
    margin: 0;
}

/* 4. alan son */

.medium-icon {
    height: 50px;
    width: 50px;
    display: inline;
    fill: azure;
}

.small-icon {
    height: 20px;
    width: 20px;
    display: inline;
}

.table-container, table {
    width: 100%;
}

.table-container th {
    background: lightgray;
    width: 20%;
    border-bottom: 1px solid lightgray;
}

.table-container, td {
    border-bottom: 1px solid lightgray;
}

.form {
    display: inline-block;
    width: 100%;

}
.form div {
    text-align: left;
}

.dropdown {
    display: inline-block;
    float:left;
}
.option {
    display: inline-block;
    float:right;
}

.split {
    color: black !important;
}